{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_phoneline.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Горячая линия</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- Hotline Section -->
    <section id="featured-services" class="featured-services main-bg-hotline">
        <div class="container" data-aos="fade-up">
        {% for main_title in title_desc %}
            <div class="section-title">
                <h2>{{ main_title.name|safe }}</h2>
                <p>{{ main_title.description|safe }}</p>
            </div>
        {% endfor %}
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>Дата проведения</th>
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Время работы прямой линии</th>
                                    <th>Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_clock in clocks %}
                                    <tr>
                                        <td>{{ main_clock.date_hotline|safe }}</td>
                                        <td>{{ main_clock.name|safe }}</td>
                                        <td>{{ main_clock.post|safe }}</td>
                                        <td>{{ main_clock.reception_time|safe }}</td>
                                        <td>{{ main_clock.phone|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- End Hotline Section -->

    <!-- Hotline Title and desc Section -->
    <section id="featured-services" class="featured-services main-bg-hotline">
        <div class="container" data-aos="fade-up">
            {% for main_title_two in title_desc_two %}
                <div class="section-title">
                    <h3>{{ main_title_two.name|safe }}</h3>
                </div>
                <div class="description-left">
                    <p>{{ main_title_two.description|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Hotline Title and desc Section -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq main-bg-hotline">
        <div class="container" data-aos="fade-up">
            {% for title_desc in title_desc_queans %}
                <div class="section-title">
                    <h2>{{ title_desc.name }}</h2>
                    <p>{{ title_desc.description | safe }}</p>
                </div>
            {% endfor %}

            <ul class="faq-list">
                {% for question in questions|slice:":6" %}
                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question"
                             href="#{{ question.id }}"> {{ question.question_text }} <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="{{ question.id }}" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                {% for ansver in question.answers.all %}
                                    {{ ansver.answer_text }}
                                {% endfor %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
    <!-- End Frequently Asked Questioins Section -->

    <!-- breaking-news -->
    <div id="single" class="single main-bg-hotline">
        <div class="breaking-news">
            <div class="container">
                <div class="breaking-news-grids-bottom">
                    <div class="banner-bottom-grids">
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="{% url 'webapp:healthy_lifestyle' %}">Здоровье</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Наши Статьи о том как беречь своё Здоровье.</h3>
                                    <div class="dummy">
                                        <p>Тут мы расскажем вам о правильном питании и сне.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                11,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt1">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="#" class="sport">Спорт</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Почему и как нужно заниматься спортом.</h3>
                                    <div class="dummy">
                                        <p>Популярные статьи о спорте.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                13,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt2">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="#" class="plane">Экономика</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Новости мира Экономики в 2024 году.</h3>
                                    <div class="dummy">
                                        <p>Популярные статьи об экономике.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 7,536</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt3">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="" class="general">Важное</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Новости о природе Беларуси, леса и водоемы.</h3>
                                    <div class="dummy">
                                        <p>Что нужно знать посещая лесополосу и отдыхая рядом с водой.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                15,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main><!-- End #main -->

{% endblock %}