{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_analitics.png' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Информационно - Аналитический бюллетень</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts main-bg">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Санитарная служба Полотчины</strong> начинает свою службу с 1926 года.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="126" data-purecounter-duration="1"
                              class="purecounter"></span>

                        <p><strong>В Полоцком ЦГЭ</strong> работают 126 человек</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="87" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Наши Врачи</strong> имеющие квалификационную категорию.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-medkit"></i>
                        <span data-purecounter-start="0" data-purecounter-end="110000" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>ЦГЭ</strong> обслуживает население г.Полоцка и Полоцкого района.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                {% for main_features in features %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="{{ main_features.icon_class }}"></i></div>
                            <h4 class="title"><a href="{{ main_features.link }}">{{ main_features.name }}</a></h4>
                            <p class="description">{{ main_features.description|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

  </main><!-- End #main -->

{% endblock %}