{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <div class="pagebanner-city"></div>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">{{ "Главная"|translate_text }}</a></li>
                    <li>{{ "Здоровые города и поселки"|translate_text }}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= Interactiv News Section ======= -->
    <div id="single" class="single main-bg-poselki">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                        <div class="breaking_news">
                            <h2>{{ "Новости Центра"|translate_text }}</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description |translate_text| safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two |translate_text| safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Interactiv News Section ======= -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services main-bg-poselki">
        <div class="container" data-aos="fade-up">
            {% for main_title in heltitle_inf %}
                <div class="section-title">
                    <h2>{{ main_title.name|translate_text|safe }}</h2>
                </div>
                <div class="description-left city-desc">
                <p>{{ main_title.description|translate_text|safe }}</p>
                </div>
            {% endfor %}
            <div class="row">
                {% for main_pdf in health_inf %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="{{ main_pdf.icon_class }}"></i></div>
                            <h4 class="title"><a href="{{ main_pdf.pdf_file.url }}" target="_blank">{{ main_pdf.name|translate_text|safe }}</a></h4>
                            <a href="{{ main_pdf.pdf_file.url }}"><p class="description">{{ "Смотреть (Скачать) PDF" | translate_text }}</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments main-bg-poselki">
        <div class="container" data-aos="fade-up">
            {% for city in city_title %}
                {% if forloop.first %}
                    <div class="description-left city-name-block">
                        <h4>{{ city.name|translate_text|safe }}</h4>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="nav nav-tabs flex-column">
                        {% for city in cities %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                                   data-bs-target="#tab-{{ forloop.counter }}">
                                    <h4>{{ city.name|translate_text|safe }}</h4>
                                    <p>{{ city.description|translate_text|safe }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content">
                        {% for city in cities %}
                            <div class="tab-pane {% if forloop.first %}active show{% endif %}"
                                 id="tab-{{ forloop.counter }}">
                                <img src="{{ city.photo.url }}" alt="" class="img-fluid">
                                <section class="faq">
                                    <ul class="faq-list">
                                        <li><h5>{{ "Интерактивная доска:" | translate_text }}</h5></li>
                                        {% for description in city.descriptions.all %}
                                            <div data-bs-toggle="collapse" class="collapsed question"
                                                 href="#description-{{ forloop.counter }}" style="cursor: pointer;">
                                                {{ description.description_two|translate_text|safe }}
                                                <i class="bi bi-chevron-down icon-show"></i>
                                                <i class="bi bi-chevron-up icon-close"></i>
                                            </div>
                                            <div id="description-{{ forloop.counter }}" class="collapse"
                                                 data-bs-parent=".faq-list">
                                                <p>
                                                    {{ description.description_three|translate_text|safe }}
                                                    {% if description.add_file %}
                                                        <a href="{{ description.add_file.url }}" target="_blank">{{ "(Посмотреть файл)"|translate_text }}</a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                    <div class="btn-get-city eye">
                                        <a href="{% url 'webapp:city_single' pk=city.id %}" target="_blank">
                                            <li class="fa fa-arrow-right"> {{ "Перейти на стр."|translate_text }} {{ city.name|translate_text|safe }}</li>
                                        </a>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Departments Section -->

    <!-- ======= breaking-news Section ======= -->
    <section id="featured-services" class="featured-services main-bg-poselki">
        <div class="container" data-aos="fade-up">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    {% for main_litle_news in centre_news %}
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt-fon">
                                <a href="{{ main_litle_news.link }}"><img
                                        src="{{ main_litle_news.img.url }}" alt=" "
                                        class="img-responsive"/></a>
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.name|translate_text|wordwrap:30|truncatechars_html:58 }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.pub_date|translate_text|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3>{{ main_litle_news.desc|translate_text|safe|wordwrap:10|truncatechars_html:58 }}</h3>
                                    <div class="dummy">
                                        <a href="{{ main_litle_news.link }}">
                                            <p>{{ main_litle_news.desc_hover|translate_text|safe }}</p></a>
                                    </div>
                                    <div class="com-heart-health">
                                        <ul>
                                            <li><a href="{{ main_litle_news.link }}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author|translate_text }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

  </main><!-- End #main -->

{% endblock %}