{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_vaccination.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">{{ "Главная" |translate_text }}</a></li>
                    <li>{{ "Иммунопрофилактика" |translate_text }}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->
    <div class="margin-padding-two-a"></div>

    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-epidem">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>{{ "Новости Центра" |translate_text }}</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description |translate_text| safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two |translate_text| safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->

    <!-- Immuno news and desc Section -->
     <section id="featured-services-two" class="featured-services-two main-bg-epidem">
        <div class="container" data-aos="fade-up">
            {% for main_typical_title in all_typical_news %}
                    {% if forloop.first %}
                        <div class="section-title">
                            <h2>{{ main_typical_title.name|translate_text|safe }}</h2>
                        </div>
                    {% endif %}
                {% endfor %}
            <div class="row">
                {% for main_typical_inf in all_typical_news %}
                    <div class="icon-box mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <a href="{% url 'webapp:immunoprophylaxis_typical' pk=main_typical_inf.id %}"><h4>{{ main_typical_inf.name_block|translate_text|safe }}</h4></a>
                        <a href="{% url 'webapp:immunoprophylaxis_typical' pk=main_typical_inf.id %}"><p class="description">{{ main_typical_inf.desc_main_page|translate_text|safe }}</p></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Immuno news and desc Section -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq main-bg-epidem">
        <div class="container book_info" data-aos="fade-up">
            {% for title_desc in title_desc_queans %}
                <div class="section-title">
                    <h2>{{ title_desc.name|translate_text }}</h2>
                    <p>{{ title_desc.description |translate_text| safe }}</p>
                </div>
            {% endfor %}

            <ul class="faq-list">
                {% for question in questions|slice:":6" %}
                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question"
                             href="#{{ question.id }}"> {{ question.question_text|translate_text }} <i
                                class="bi bi-chevron-down icon-show"><img src="{% static 'webapp/assets/img/gigi_centr_marker-nbg.png' %}" class="img-fix"
                                 alt=""></i><i class="bi bi-chevron-up icon-close"><img src="{% static 'webapp/assets/img/gigi_centr_marker-nbg.png' %}" class="img-fix"
                                 alt=""></i>
                        </div>
                        <div id="{{ question.id }}" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                {% for ansver in question.answers.all %}
                                    {{ ansver.answer_text|translate_text }}
                                {% endfor %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
    <!-- End Frequently Asked Questioins Section -->

    <!-- ======= breaking-news Section ======= -->
    <section id="featured-services" class="featured-services main-bg-epidem">
        <div class="container" data-aos="fade-up">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    {% for main_litle_news in centre_news %}
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt-fon">
                                <a href="{{ main_litle_news.link }}"><img
                                        src="{{ main_litle_news.img.url }}" alt=" "
                                        class="img-responsive"/></a>
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.name|translate_text|wordwrap:30|truncatechars_html:58 }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.pub_date|translate_text|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3>{{ main_litle_news.desc|translate_text|safe|wordwrap:10|truncatechars_html:58 }}</h3>
                                    <div class="dummy">
                                        <a href="{{ main_litle_news.link }}">
                                            <p>{{ main_litle_news.desc_hover|translate_text|safe }}</p></a>
                                    </div>
                                    <div class="com-heart-health">
                                        <ul>
                                            <li><a href="{{ main_litle_news.link }}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author|translate_text }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breaking Section -->

  </main><!-- End #main -->

{% endblock %}