{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
   <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_vaccination.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Иммунопрофилактика</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-imuno">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->

    <!-- ======= About Us Section ======= -->
    {% for main_profilac in typical_inf %}
        <section id="about" class="about main-bg-imuno">
            <div class="container book_info" data-aos="fade-up">
                <div class="row">
                    <div class="section-title">
                        <h2>{{ main_profilac.name|safe }}</h2>
                    </div>
                    <div class="col-lg-6" data-aos="fade-right">
                        <img src="{{ main_profilac.photo.url }}" class="img-fluid"
                             alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <p class="fst-italic">{{ main_profilac.description | safe }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="description-left main-bg-imuno">
                        <h2><p>{{ main_profilac.name_three|safe }}</h2>
                        <p>{{ main_profilac.description_three | safe }}</p>
                        <h3>{{ main_profilac.name_two|safe }}</h3>
                        <p>{{ main_profilac.description_two | safe }}</p>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <!-- End About Us Section -->

    <!-- breaking-news -->
    <div id="single" class="single main-bg-imuno">
        <div class="breaking-news">
            <div class="container">
                <div class="breaking-news-grids-bottom">
                    <div class="banner-bottom-grids">
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="{% url 'webapp:healthy_lifestyle' %}">Здоровье</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Наши Статьи о том как беречь своё Здоровье.</h3>
                                    <div class="dummy">
                                        <p>Тут мы расскажем вам о правильном питании и сне.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                11,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt1">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="#" class="sport">Спорт</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Почему и как нужно заниматься спортом.</h3>
                                    <div class="dummy">
                                        <p>Популярные статьи о спорте.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                13,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt2">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="#" class="plane">Экономика</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Новости мира Экономики в 2024 году.</h3>
                                    <div class="dummy">
                                        <p>Популярные статьи об экономике.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 7,536</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt br-bm-gd-lt3">
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li><a href="" class="general">Важное</a></li>
                                            <li>28 Мая 2024</li>
                                        </ul>
                                    </div>
                                    <h3>Новости о природе Беларуси, леса и водоемы.</h3>
                                    <div class="dummy">
                                        <p>Что нужно знать посещая лесополосу и отдыхая рядом с водой.</p>
                                    </div>
                                    <div class="com-heart">
                                        <ul>
                                            <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span>
                                                Центр Гигиены</a></li>
                                            <li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span>
                                                15,536</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->

{% endblock %}