{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section class="pagebanner_three"></section>

    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">{{ "Главная" |translate_text }}</a></li>
                    <li>{{ "О типичных нарушениях" |translate_text }}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-farm">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>{{ "Новости Центра" |translate_text }}</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description |translate_text| safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two |translate_text| safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->

    <!-- Hotline Title and desc Section -->
    <section id="featured-services" class="featured-services main-bg-farm">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% if typical_inf %}
                    <div class="section-title">
                        <h2>{{ typical_inf.name|translate_text|safe }}</h2>
                        <p>{{ typical_inf.name_typical|translate_text|safe }}</p>
                    </div>
                    <div>
                    {{ typical_inf.description_for_all|translate_text|safe }}
                    </div>
{#                    <section class="hotline">#}
{#                        <div class="table-info">#}
{#                            <div class="box" data-aos="fade-up" data-aos-delay="300">#}
{#                                <table class="iksweb">#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>№</th>#}
{#                                        <th>{{ typical_inf.description|safe }}</th>#}
{#                                        <th>{{ typical_inf.description_two|safe }}</th>#}
{#                                        <th>{{ typical_inf.description_three|safe }}</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    {% for row in typical_inf.rows.all %}#}
{#                                        <tr>#}
{#                                            <td>{{ forloop.counter }}</td>#}
{#                                            <!-- Используем forloop.counter для номера строки -->#}
{#                                            <td>{{ row.objects_control|safe }}</td>#}
{#                                            <td>{{ row.typical_violations|safe }}</td>#}
{#                                            <td>{{ row.name_typical_violations|safe }}</td>#}
{#                                        </tr>#}
{#                                    {% empty %}#}
{#                                        <tr>#}
{#                                            <td colspan="4">Нет данных для отображения.</td>#}
{#                                            <!-- Сообщение, если нет строк -->#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </section>#}
                {% else %}
                    <p>{{ "Информация не найдена." | translate_text }}</p>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Hotline Title and desc Section -->

    <!-- ======= breaking-news Section ======= -->
    <section id="featured-services" class="featured-services main-bg-appeals">
        <div class="container" data-aos="fade-up">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    {% for main_litle_news in centre_news %}
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt-fon">
                                <a href="{{ main_litle_news.link }}"><img
                                        src="{{ main_litle_news.img.url }}" alt=" "
                                        class="img-responsive"/></a>
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.name|translate_text|wordwrap:30|truncatechars_html:58 }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.pub_date|translate_text|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3>{{ main_litle_news.desc|translate_text|safe|wordwrap:10|truncatechars_html:58 }}</h3>
                                    <div class="dummy">
                                        <a href="{{ main_litle_news.link }}">
                                            <p>{{ main_litle_news.desc_hover|translate_text|safe }}</p></a>
                                    </div>
                                    <div class="com-heart-health">
                                        <ul>
                                            <li><a href="{{ main_litle_news.link }}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author|translate_text }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

</main><!-- End #main -->

{% endblock %}