{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_st.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Дезинфекция | Дезинсекция | Дератизация</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-book-of">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->


    <!-- ======= Desinfection text Section ======= -->
    <section id="featured-services" class="featured-services main-bg-book-of">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_desinfection in disinfection_info %}
                    <div class="section-title">
                        <h2>{{ main_desinfection.name_main|safe }}</h2>
                    </div>
                    <div class="gslide-description">
                        <p>{{ main_desinfection.description|safe }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Desinfection text Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="news-grid-left features section-bg-unp">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- Первая колонка -->
                <div class="col-lg-9" data-aos="fade-right">
                    <!-- Изображение для первой колонки -->
                    <div class="col-lg-4 img-fixed-size-kvit my-column-two">
                        {#                          <img src="{% static 'webapp/assets/img/gigi_centr_kvitanciya-nbg.png' %}" class="img-fluid"#}
                        {#                               alt="">#}
                        <img src="{% static 'webapp/assets/img/gigi_centr_card.gif' %}" class="img-fixed-size-unp"
                             alt="gigi_boy.gif">
                    </div>
                    <div class="news-grid-right2">
                        <h4>Получатель: Государственное учреждение «Полоцкий зональный ЦГЭ»<br>
                            ОАО «АСБ «Беларусбанк»<br>г. Полоцк, ул.Ф.Скорины,4<br>
                            Банковский идентификационный код (BIC):АКВВВY2X<br>
                            р/сBY16 AKBB 3632 0002 1011 9230 0000<br>
                            УНН 300250571 ОКПО 05562961<br>
                            e-mail: polotzk_hyg@vitebsk.by
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Section -->

  </main><!-- End #main -->

{% endblock %}