{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_dezinfekcziya.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Дезинфекция | Дезинсекция | Дератизация</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single disinfection-bg">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->


    <!-- ======= Desinfection text Section ======= -->
    <section id="featured-services" class="featured-services disinfection-bg">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_desinfection in disinfection_info %}
                    <div class="section-title">
                        <h2>{{ main_desinfection.name_main|safe }}</h2>
                    </div>
                    <div class="gslide-description">
                        <p>{{ main_desinfection.description|safe }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Desinfection text Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="news-grid-left features section-bg-unp">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- Первая колонка -->
                <div class="col-lg-9" data-aos="fade-right">
                    <!-- Изображение для первой колонки -->
                    <div class="col-lg-4 img-fixed-size-kvit my-column-two">
                        {#                          <img src="{% static 'webapp/assets/img/gigi_centr_kvitanciya-nbg.png' %}" class="img-fluid"#}
                        {#                               alt="">#}
                        <img src="{% static 'webapp/assets/img/gigi_centr_card.gif' %}" class="img-fixed-size-unp"
                             alt="gigi_boy.gif">
                    </div>
                    <div class="news-grid-right2">
                        <h4>Получатель: Государственное учреждение «Полоцкий зональный ЦГЭ»<br>
                            ОАО «АСБ «Беларусбанк»<br>г. Полоцк, ул.Ф.Скорины,4<br>
                            Банковский идентификационный код (BIC):АКВВВY2X<br>
                            р/сBY16 AKBB 3632 0002 1011 9230 0000<br>
                            УНН 300250571 ОКПО 05562961<br>
                            e-mail: polotzk_hyg@vitebsk.by
                        </h4>
                    </div>
                </div>
                {% for main_disinfection in disinfection_info %}
                    <div class="description-right">
                        <p>{{ main_disinfection.description_two|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Features Section -->

     {% for main_deratisation in deratisation_info %}
          <section id="about" class="about disinfection-bg">
              <div class="container book_info" data-aos="fade-up">

                  <div class="section-title">
                      <h2>{{ main_deratisation.name|safe }}</h2>
                  </div>

                  <div class="row">
                      <div class="col-lg-3" data-aos="fade-right">
                          <img src="{{ main_deratisation.photo.url }}" class="img-fluid img-fixed-size-deratisation"
                               alt="">
                      </div>
                      <div class="col-lg-9 pt-4 pt-lg-0 content" data-aos="fade-left">
                          <p>{{ main_deratisation.description|safe }}</p>
                          <p>{{ main_deratisation.description_two|safe }}</p>
                      </div>
                  </div>

              </div>
          </section>
      {% endfor %}
      <!-- End deratisation Section -->


    <!-- ======= disinsection Section ======= -->
    <section id="features" class="features disinfection-bg">
        <div class="container book_info" data-aos="fade-up">
            {% for main_disinsection in disinsection_info %}
                <div class="section-title">
                <h2>{{ main_disinsection.name|safe }}</h2>
                </div>
                <div class="row">
                    <div class="col-lg-9 order-2 order-lg-1" data-aos="fade-right">
                        <div class="icon-box mt-5 mt-lg-0">
                            <p>{{ main_disinsection.description | safe }}</p>
                            <p>{{ main_disinsection.description_two | safe }}</p>
                        </div>

                    </div>
                    <div class="col-lg-3 order-1 order-lg-2"
                         data-aos="zoom-in">
                        <img src="{{ main_disinsection.photo.url }}" class="img-fluid img-fixed-size-disinsection"
                               alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End disinsection Section -->

    {% for main_disinfection_desc in disinfection_desc %}
        <section id="about" class="about disinfection-bg">
            <div class="container book_info" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ main_disinfection_desc.name|safe }}</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3" data-aos="fade-right">
                        <img src="{{ main_disinfection_desc.photo.url }}" class="img-fluid img-fixed-size-disinfection"
                             alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <p>{{ main_disinfection_desc.description|safe }}</p>
                        <p>{{ main_disinfection_desc.description_two|safe }}</p>
                    </div>
                </div>

            </div>
        </section>
    {% endfor %}
    <!-- End deratisation Section -->

  </main><!-- End #main -->

{% endblock %}