{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->

    <!-- pagebanner -->
    <section class="pagebanner-your"></section>
    <!-- End Pagebanner -->

    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'webapp:home' %}">Главная</a></li>
            <li>Платные услуги физическим лицам</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->


    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>{{ studi.0.name|safe }}</h2>
                <p>{{ studi.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Показатели</th>
                                <th>Работники торговли и общепита</th>
                                <th>Работники детских дошкольных учреждений</th>
                                <th>Работники водоснабжения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_studi in studi %}
                                <tr>
                                    <td>{{ main_studi.indicators|safe }}</td>
                                    <td>{{ main_studi.catering_workers_display|safe }}</td>
                                    <td>{{ main_studi.after_workers_display|safe }}</td>
                                    <td>{{ main_studi.employees_school_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->

    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="description-left">
                <p>{{ wqs.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Показатели</th>
                                <th>Шахтный колодец</th>
                                <th>Базовый</th>
                                <th>Стандарт</th>
                                <th>Стандарт Плюс</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_wqs in wqs %}
                                <tr>
                                    <td>{{ main_wqs.indicators|safe }}</td>
                                    <td>{{ main_wqs.mine_well_display|safe }}</td>
                                    <td>{{ main_wqs.basic_display|safe }}</td>
                                    <td>{{ main_wqs.standart_display|safe }}</td>
                                    <td>{{ main_wqs.standart_plus_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->

    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="description-left">
                <p>{{ studi.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Показатели</th>
                                <th>Работники торговли и общепита</th>
                                <th>Работники детских дошкольных учреждений</th>
                                <th>Работники водоснабжения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_studi in studi %}
                                <tr>
                                    <td>{{ main_studi.indicators|safe }}</td>
                                    <td>{{ main_studi.catering_workers_display|safe }}</td>
                                    <td>{{ main_studi.after_workers_display|safe }}</td>
                                    <td>{{ main_studi.employees_school_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->


  </main><!-- End #main -->

{% endblock %}