{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->

    <!-- pagebanner -->
    <section class="pagebanner-your"></section>
    <!-- End Pagebanner -->

    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'webapp:home' %}">Главная</a></li>
            <li>Платные услуги физическим лицам</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->


    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>{{ studi.0.name|safe }}</h2>
                <p>{{ studi.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Показатели</th>
                                <th>Работники торговли и общепита</th>
                                <th>Работники детских дошкольных учреждений</th>
                                <th>Работники водоснабжения</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_studi in studi %}
                                <tr>
                                    <td>{{ main_studi.indicators|safe }}</td>
                                    <td>{{ main_studi.catering_workers_display|safe }}</td>
                                    <td>{{ main_studi.after_workers_display|safe }}</td>
                                    <td>{{ main_studi.employees_school_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->

    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="description-left">
                <p>{{ wqs.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Показатели</th>
                                <th>Шахтный колодец</th>
                                <th>Базовый</th>
                                <th>Стандарт</th>
                                <th>Стандарт Плюс</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_wqs in wqs %}
                                <tr>
                                    <td>{{ main_wqs.indicators|safe }}</td>
                                    <td>{{ main_wqs.mine_well_display|safe }}</td>
                                    <td>{{ main_wqs.basic_display|safe }}</td>
                                    <td>{{ main_wqs.standart_display|safe }}</td>
                                    <td>{{ main_wqs.standart_plus_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->

    <!-- ======= Doctors Section ======= -->
    <section class="ap-bg">
        <div class="container" data-aos="fade-up">
            <div class="description-left">
                <p>{{ lfv.0.desc | safe }}</p>
            </div>
            <div class="row">
                <div class="table-info">
                    <div class="box" data-aos="fade-up" data-aos-delay="300">
                        <table class="iksweb">
                            <thead>
                            <tr>
                                <th>Пакет исследований</th>
                                <th>Стоимость пакета с учетом<br>НДС и расходных материалов*</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for main_lfv in lfv %}
                                <tr>
                                    <td>{{ main_lfv.paket|safe }}</td>
                                    <td>{{ main_lfv.cost_display|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="description-left">
                            <ul>
                                <h5><br>*Стоимость услуг указана по состоянию на 01.06.2024г</h5>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->

    <!-- ======= Price Lists Section ======= -->
    <section id="featured-services" class="featured-services ap-bg">
        <div class="container" data-aos="fade-up">

            <div class="row">
                {% for main_price_lists in price_lists_fiz %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><a href="{{ main_price_lists.add_file }}"><i
                                    class="{{ main_price_lists.icon_class }}"></i></a></div>
                            <h4 class="title"><a
                                    href="{{ main_price_lists.add_file }}">{{ main_price_lists.name|safe }}</a></h4>
                            <a href="{{ main_price_lists.add_file }}"><p class="description">{{ main_price_lists.description|safe }}</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Price Lists Section -->


    <!-- Erip -->
    <section id="about" class="about section-bg-erip">
        <div class="container" data-aos="fade-up">
            {% for main_info_erip in erip_info %}
                <div class="section-title">
                    <h2>{{ main_info_erip.name|safe }}</h2>
                    <p>{{ main_info_erip.description|safe }}</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 img-fixed-size-erip" data-aos="fade-right">
                        <img src="{% static 'webapp/assets/img/gigi_erip-removebg-preview.png' %}" class="img-fluid"
                             alt="">
                    </div>
                    <div class="col-lg-10 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <p class="mobile-font-size">{{ main_info_erip.payment_where|safe }}</p>
{#                        <p class="fst-italic"><a href="{% static 'webapp/assets/img/gigi_centr_oplata_erip.jpg' %}"#}
{#                                                 target="_blank">Схема проведения платежа</a></p>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Erip -->
    <!-- ======= ERIP Section ======= -->
    <section id="features" class="news-grid-left features section-bg-unp">
        <div class="container" data-aos="fade-up">
            {% for main_info_erip in erip_info %}
                <div class="row">
                    <!-- Первая колонка -->
                    <div class="col-lg-5" data-aos="fade-right">
                        <!-- Изображение для первой колонки -->
                        <div class="col-lg-4 txt-fixed-size my-column-three">
                            <p>
                                {{ main_info_erip.unp|safe }}
                            </p>
                        </div>
                    </div>
                    <!-- Вторая колонка -->
                    <div class="col-lg-5 img-fixed-size-cheme">
                        <p>
                            {{ main_info_erip.payment_methods|safe }}
                        </p>
                    </div>
                    <div class="col-lg-4 display-none-landscape" data-aos="fade-right">
                        <div class="img-positions-fiz-erip mt-4 mt-lg-0">
                            <!-- Текст для второй колонки -->
                            <p>{{ main_info_erip.title_qr|safe }}</p>
                            <img src="{{ main_info_erip.qr_img.url }}" class="img-fixed-size-unp-qrblrbnk">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- End ERIP Section -->


  </main><!-- End #main -->

{% endblock %}