{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load templatetags %}


{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <!-- pagebanner -->
        <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/phone_gigi_center.jpg' %}{% endif %}')">
            {#          <div class="page-title">#}
            {#              <h2 class="white text-center">Контакты</h2>#}
            {#          </div>#}
        </section>
        <!-- End Pagebanner -->
        <section class="breadcrumbs_contacts">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li><a href="{% url 'webapp:home' %}">{{ "Главная"|translate_text }}</a></li>
                        <li>{{ "Контакты"|translate_text }}</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- End Breadcrumbs Section -->
        <div class="margin-padding-two"></div>

        <!-- Hotline Section -->
        <section id="contact" class="contact">
            <div class="breaking-news">
                <div class="container">
                    {% for main_interactiv_string in interactiv %}
                        <div class="move-text">
                            <div class="breaking_news">
                                <h2>{{ "Новости Центра"|translate_text }}</h2>
                            </div>
                            <div class="marquee">
                                <div class="marquee1"><a class="breaking"
                                                         href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description |translate_text| safe }}</a>
                                </div>
                                <div class="marquee2"><a class="breaking"
                                                         href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two |translate_text| safe }}</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                            <script>
                                $('.marquee').marquee({pauseOnHover: true});
                                //@ sourceURL=pen.js
                            </script>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Hotline Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="main-bg">
            <div id="contact" class="contact">
                    <div class="section-title">
                        <h2>{{ "Контакты"|translate_text }}</h2>
                    </div>
                {% for main_contact in contacts_info %}
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box">
                                        <i class="bx bx-map"></i>
                                        <h3>{{ main_contact.name|translate_text }}</h3>
                                        <p>{{ main_contact.adres|safe|translate_text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bx bx-envelope"></i>
                                            <h3>{{ "Наша Почта"|translate_text }}</h3>
                                            <p>{{ main_contact.mail|safe }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-box">
                                            <i class="bx bx-phone-call"></i>
                                            <h3>{{ "Телефон Горячей линии"|translate_text }}</h3>
                                            <p>{{ main_contact.phone }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="section-title">
                            {#                  <h2>Контакты</h2>#}
                            <h4>{{ "Мы на карте"|translate_text }}</h4>
                        </div>
                        <div class="map-container">
                            <div class="map-wrapper">
                                <iframe class="map-iframe"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.167571702526!2d28.785063615814045!3d55.48583038046348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c491fd7e6a28f5%3A0x6b860a7ba5f18ad1!2z0JTQmiDQodGC0LXQutC70L7QstC-0LvQvtC60L3Qviwg0JLQuNGC0LXQsdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sby!4v1646779601928!5m2!1sru!2sby"
                                        frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Contact Section -->


        {#      <!-- ======= Departments Section ======= -->#}
        {#      <section id="departments" class="departments">#}
        {#          <div class="container" data-aos="fade-up">#}
        {##}
        {#              <div class="section-title">#}
        {#                  <h2>Departments</h2>#}
        {#                  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit#}
        {#                      sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.#}
        {#                      Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
        {#              </div>#}
        {##}
        {#              <div class="row" data-aos="fade-up" data-aos-delay="100">#}
        {#                  <div class="col-lg-4 mb-5 mb-lg-0">#}
        {#                      <ul class="nav nav-tabs flex-column">#}
        {#                          <li class="nav-item">#}
        {#                              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">#}
        {#                                  <h4>Cardiology</h4>#}
        {#                                  <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>#}
        {#                              </a>#}
        {#                          </li>#}
        {#                          <li class="nav-item mt-2">#}
        {#                              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">#}
        {#                                  <h4>Neurology</h4>#}
        {#                                  <p>Voluptas vel esse repudiandae quo excepturi.</p>#}
        {#                              </a>#}
        {#                          </li>#}
        {#                          <li class="nav-item mt-2">#}
        {#                              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">#}
        {#                                  <h4>Hepatology</h4>#}
        {#                                  <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>#}
        {#                              </a>#}
        {#                          </li>#}
        {#                          <li class="nav-item mt-2">#}
        {#                              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">#}
        {#                                  <h4>Pediatrics</h4>#}
        {#                                  <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>#}
        {#                              </a>#}
        {#                          </li>#}
        {#                      </ul>#}
        {#                  </div>#}
        {#                  <div class="col-lg-8">#}
        {#                      <div class="tab-content">#}
        {#                          <div class="tab-pane active show" id="tab-1">#}
        {#                              <h3>Cardiology</h3>#}
        {#                              <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde#}
        {#                                  sonata raqer a videna mareta paulona marka</p>#}
        {#                              <img src="{% static 'webapp/assets/img/departments-1.jpg' %}" alt="" class="img-fluid">#}
        {#                              <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos#}
        {#                                  ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet#}
        {#                                  eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus#}
        {#                                  nostrum rem vero</p>#}
        {#                          </div>#}
        {#                          <div class="tab-pane" id="tab-2">#}
        {#                              <h3>Neurology</h3>#}
        {#                              <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde#}
        {#                                  sonata raqer a videna mareta paulona marka</p>#}
        {#                              <img src="{% static 'webapp/assets/img/departments-2.jpg' %}" alt="" class="img-fluid">#}
        {#                              <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos#}
        {#                                  ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet#}
        {#                                  eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus#}
        {#                                  nostrum rem vero</p>#}
        {#                          </div>#}
        {#                          <div class="tab-pane" id="tab-3">#}
        {#                              <h3>Hepatology</h3>#}
        {#                              <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde#}
        {#                                  sonata raqer a videna mareta paulona marka</p>#}
        {#                              <img src="{% static 'webapp/assets/img/departments-3.jpg' %}" alt="" class="img-fluid">#}
        {#                              <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos#}
        {#                                  ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet#}
        {#                                  eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus#}
        {#                                  nostrum rem vero</p>#}
        {#                          </div>#}
        {#                          <div class="tab-pane" id="tab-4">#}
        {#                              <h3>Pediatrics</h3>#}
        {#                              <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde#}
        {#                                  sonata raqer a videna mareta paulona marka</p>#}
        {#                              <img src="{% static 'webapp/assets/img/departments-4.jpg' %}" alt="" class="img-fluid">#}
        {#                              <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos#}
        {#                                  ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet#}
        {#                                  eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus#}
        {#                                  nostrum rem vero</p>#}
        {#                          </div>#}
        {#                      </div>#}
        {#                  </div>#}
        {#              </div>#}
        {##}
        {#          </div>#}
        {#      </section>#}
        {#      <!-- End Departments Section -->#}

        <!-- ======= Doctors Section ======= -->
        {#      <section id="contact" class="contact">#}
        {#          <div id="doctors" class="doctors">#}
        {#              <div class="container" data-aos="fade-up">#}
        {#                  <div class="section-title">#}
        {#                      <h2>Наша Команда</h2>#}
        {#                      <p>Каждый наш сотрудник - мастер своего дела, обладающий неповторимым багажом знаний и опыта.</p>#}
        {#                  </div>#}
        {##}
        {#                  <div class="row">#}
        {##}
        {#                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                          <div class="member" data-aos="fade-up" data-aos-delay="100">#}
        {#                              <div class="member-img">#}
        {#                                  <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_man.png' %}" class="img-fluid"#}
        {#                                       alt="">#}
        {#                                  <div class="social">#}
        {#                                      <a href="{% url 'webapp:chief-doctor' %}"><h4>Записаться на приём</h4></a>#}
        {#                                  </div>#}
        {#                              </div>#}
        {#                              <div class="member-info">#}
        {#                                  <h4>Гуринович<br>Михаил Евгеньевич</h4>#}
        {#                                  <span>Главный государственный<br>санитарный врач</span>#}
        {#                                  <span>города Полоцка и Полоцкого района</span>#}
        {#                              </div>#}
        {#                          </div>#}
        {#                      </div>#}
        {#                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                          <div class="member" data-aos="fade-up" data-aos-delay="400">#}
        {#                              <div class="member-img">#}
        {#                                  <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_women.jpg' %}" class="img-fluid"#}
        {#                                       alt="">#}
        {#                                  <div class="social">#}
        {#                                      <a href=""><h4>Записаться на приём</h4></a>#}
        {#                                  </div>#}
        {#                              </div>#}
        {#                              <div class="member-info">#}
        {#                                  <h4>Гречуха Юлия<br>Владимировна</h4>#}
        {#                                  <span>Заместитель главного врача</span>#}
        {#                              </div>#}
        {#                          </div>#}
        {#                      </div>#}
        {##}
        {#                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                          <div class="member" data-aos="fade-up" data-aos-delay="200">#}
        {#                              <div class="member-img">#}
        {#                                  <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_women.jpg' %}" class="img-fluid"#}
        {#                                       alt="">#}
        {#                                  <div class="social">#}
        {#                                      <a href=""><h4>Отдел Гигиены</h4></a>#}
        {#                                  </div>#}
        {#                              </div>#}
        {#                              <div class="member-info">#}
        {#                                  <h4>Щербакова Ольга Александровна</h4>#}
        {#                                  <span>Заведующий отделом</span>#}
        {#                                  <span>каб. №12, 4-этаж</span>#}
        {#                                  <span>тел: +375(214)49-31-52</span>#}
        {#                              </div>#}
        {#                          </div>#}
        {#                      </div>#}
        {##}
        {#                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                          <div class="member" data-aos="fade-up" data-aos-delay="300">#}
        {#                              <div class="member-img">#}
        {#                                  <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_man.png' %}" class="img-fluid"#}
        {#                                       alt="">#}
        {#                                  <div class="social">#}
        {#                                      <a href=""><h4>Отдел Гигиены Питания</h4></a>#}
        {#                                  </div>#}
        {#                              </div>#}
        {#                              <div class="member-info">#}
        {#                                  <h4>Мороз Юрий<br>Олегович</h4>#}
        {#                                  <span>Заведующий отделением</span>#}
        {#                                  <span>каб. №14, 4-этаж</span>#}
        {#                                  <span>тел: +375(214)49-31-52</span>#}
        {#                              </div>#}
        {#                          </div>#}
        {#                      </div>#}
        {#                  </div>#}
        {#              </div>#}
        {#          </div>#}
        {#      </section>#}

    </main><!-- End #main -->


{% endblock %}