{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    {% include 'slider/slider.html' %}
        <!-- ======= Breadcrumbs Section ======= -->

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}"></a></li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <main id="main">

        <div class="news-interactiv-mobile">
        {% include 'main/news-interactiv-desctop.html' %}
        </div>


        <div class="desktop-news">
            {% include 'main/mobile_news_index.html' %}
        </div>


      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services main-bg">
          <div class="container" data-aos="fade-up">

              <div class="row">
                  {% for main_features in featured %}
                  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                          <div class="icon"><i class="{{ main_features.icon_class }}"></i></div>
                          <h4 class="title"><a href="{{ main_features.link }}">{{ main_features.name }}</a></h4>
                          <p class="description">{{ main_features.description|safe }}</p>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </section>
      <!-- End Featured Services Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about main-bg">
          <div class="container" data-aos="fade-up">
              {% for main_about in about_us %}
                  <div class="section-title">
                      <h2>{{ main_about.name }}</h2>
                      <p>{{ main_about.description | safe }}</p>
                  </div>

                  <div class="row">
                      <div class="col-lg-6" data-aos="fade-right">
                          <img src="{{ main_about.photo.url }}" class="img-fluid"
                               alt="">
                      </div>
                      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                          <h3>{{ main_about.name_two }}</h3>
                          <p class="fst-italic">{{ main_about.description_two | safe }}</p>
                          <ul class="icon-list">
                              <li>
                                  <i class="{{ main_about.icon_class_li_one }}"></i> {{ main_about.name_li_one | safe }}
                              </li>
                              <li>
                                  <i class="{{ main_about.icon_class_li_two }}"></i> {{ main_about.name_li_two | safe }}
                              </li>
                              <li>
                                  <i class="{{ main_about.icon_class_li_three }}"></i> {{ main_about.name_li_three | safe }}
                              </li>
                              <li>
                                  <i class="{{ main_about.icon_class_li_four }}"></i> {{ main_about.name_li_four | safe }}
                              </li>
                              <li>
                                  <i class="{{ main_about.icon_class_li_five }}"></i> {{ main_about.name_li_five | safe }}
                              </li>
                          </ul>
                          <p>{{ main_about.description_three | safe }}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts main-bg">
          <div class="container" data-aos="fade-up">
              <div class="row no-gutters">
                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                          <i class="fas fa-award"></i>
                          <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1"
                                class="purecounter"></span>
                          <p><strong>Санитарная служба Полотчины</strong> начинает свою службу с 1926 года.</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                          <i class="fas fa-hospital"></i>
                          <span data-purecounter-start="0" data-purecounter-end="126" data-purecounter-duration="1"
                                class="purecounter"></span>

                          <p><strong>В Полоцком ЦГЭ</strong> работают 126 человек</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                          <i class="fas fa-user-md"></i>
                          <span data-purecounter-start="0" data-purecounter-end="87" data-purecounter-duration="1"
                                class="purecounter"></span>
                          <p><strong>Наши Врачи</strong> имеющие квалификационную категорию.</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                      <div class="count-box">
                          <i class="fas fa-medkit"></i>
                          <span data-purecounter-start="0" data-purecounter-end="110000" data-purecounter-duration="1"
                                class="purecounter"></span>
                          <p><strong>ЦГЭ</strong> обслуживает население г.Полоцка и Полоцкого района.</p>
                      </div>
                  </div>
              </div>

          </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features main-bg">
          <div class="container" data-aos="fade-up">
              {% for main_innovations in innovations %}
                  <div class="row">
                      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                          <div class="icon-box mt-5 mt-lg-0">
                              <i class="{{ main_innovations.icon_class }}"></i>
                              <h4>{{ main_innovations.name }}</h4>
                              <p>{{ main_innovations.description | safe}}</p>
                          </div>
                          <div class="icon-box mt-5">
                              <i class="{{ main_innovations.icon_class_two }}"></i>
                              <h4>{{ main_innovations.name_two }}</h4>
                              <p>{{ main_innovations.description_two | safe }}</p>
                          </div>
                          <div class="icon-box mt-5">
                              <i class="{{ main_innovations.icon_class_three }}"></i>
                              <h4>{{ main_innovations.name_three }}</h4>
                              <p>{{ main_innovations.description_three | safe }}</p>
                          </div>
                          <div class="icon-box mt-5">
                              <i class="{{ main_innovations.icon_class_four }}"></i>
                              <h4>{{ main_innovations.name_four }}</h4>
                              <p>{{ main_innovations.description_four | safe}}</p>
                          </div>
                      </div>
                      <div class="image col-lg-6 order-1 order-lg-2"
                           style='background-image: url({{ main_innovations.photo.url }});'
                           data-aos="zoom-in"></div>
                  </div>
              {% endfor %}

          </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services services main-bg">
          <div class="container" data-aos="fade-up">
              {% for desc in desc_services_title %}
                  <div class="section-title">
                      <h2>{{ desc.name }}</h2>
                      <p>{{ desc.description | safe }}</p>
                  </div>
              {% endfor %}

              <div class="row">
                  {% for main_servic in main_services %}
                      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                          <div class="icon">
                              <img src="{{ main_servic.icon.url }}">
                          </div>
                          <h4 class="title"><a href="{{ main_servic.link }}">{{ main_servic.name }}</a></h4>
                          <p class="description">{{ main_servic.description | safe }}</p>
                      </div>
                  {% endfor %}
              </div>

          </div>
      </section>
      <!-- End Services Section -->

      <!-- Erip -->
      <section id="about" class="about section-bg-erip">
          <div class="container" data-aos="fade-up">

              <div class="section-title">
                  <h2>Оплата в ЕРИП</h2>
                  <p>Оплатить услуги Полоцкого зонального ЦГЭ Вы можете через систему "Расчет ЕРИП"</p>
              </div>

              <div class="row">
                  <div class="col-lg-6 img-fixed-size-erip" data-aos="fade-right">
                      <img src="{% static 'webapp/assets/img/gigi_erip-removebg-preview.png' %}" class="img-fluid"
                           alt="">
                  </div>
                  <div class="col-lg-10 pt-4 pt-lg-0 content" data-aos="fade-left">
                      <p class="fst-italic">Вы можете это сделать в любом удобном для Вас месте, в удобное для Вас
                          время, в удобном для Вас пункте банковского обслуживания - интернет-банке, с помощью
                          мобильного банкинга, инфокиоске, кассе банков, банкомате и т.д.
                          Совершить оплату можно с использованием наличных денежных средств, электронных деньги
                          банковских платежных карточек в пунктах банковского обслуживания банков, которые оказывают
                          услуги по приему платежей, а также посредством инструментов дистанционного банковского
                          обслуживания.</p>
                      <p class="fst-italic"><a href="{% static 'webapp/assets/img/gigi_centr_oplata_erip.jpg' %}" target="_blank">Схема проведения платежа</a></p>
                  </div>
              </div>

          </div>
      </section>
      <!-- End Erip -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="news-grid-left features section-bg-unp">
          <div class="container" data-aos="fade-up">
              <div class="row">
                  <!-- Первая колонка -->
                  <div class="col-lg-6" data-aos="fade-right">
                      <!-- Изображение для первой колонки -->
                      <div class="col-lg-4 img-fixed-size-kvit my-column">
{#                          <img src="{% static 'webapp/assets/img/gigi_centr_kvitanciya-nbg.png' %}" class="img-fluid"#}
{#                               alt="">#}
                          <img src="{% static 'webapp/assets/img/gigi_boy.gif' %}" class="img-fixed-size-unp" alt="gigi_boy.gif">
                      </div>
                          <div class="news-grid-right2">
                          <h4>
                              УНН 300250571 ОКПО 05562961<br>Расчетный счет: BY16 AKBB 3632 0002 1011 9230 0000<br>ОАО
                              «АСБ «Беларусбанк»<br>г. Полоцк, БИК AKBBBY2Х
                          </h4>
                      </div>
                  </div>
                  <!-- Вторая колонка -->
                  <div class="col-lg-4" data-aos="fade-right">
                      <div class="icon-box mt-5 mt-lg-0">
                          <!-- Текст для второй колонки -->
                          <h4>ПОРТАЛ РЕЙТИНГОВОЙ ОЦЕНКИ</h4>
                          <img src="{% static 'webapp/assets/img/Ybin.gif' %}" class="img-fixed-size-unp-three" alt="Ybin.gif">
                          <img src="{% static 'webapp/assets/img/2r5t.gif' %}" class="img-fixed-size-unp-two" alt="2r5t.gif">
                      </div>
                  </div>
                  <!-- Изображение для второй колонки -->
                  <div class="col-lg-4 img-fixed-size-erip">
                      <img src="{% static 'webapp/assets/img/gigi_centr_portal.png' %}" class="img-fluid"
                           alt="">
                  </div>
              </div>
          </div>
      </section>
      <!-- End Features Section -->

      <div class="mobile-news">
          {% include 'main/mobile_news_index.html' %}
      </div>


      <!-- ======= Frequently Asked Questioins Section ======= -->
      <section id="faq" class="faq main-bg">
          <div class="container" data-aos="fade-up">
              {% for title_desc in title_desc_queans %}
                  <div class="section-title">
                      <h2>{{ title_desc.name }}</h2>
                      <p>{{ title_desc.description | safe }}</p>
                  </div>
              {% endfor %}

              <ul class="faq-list">
                  {% for question in questions|slice:":6" %}
                      <li>
                          <div data-bs-toggle="collapse" class="collapsed question"
                               href="#{{ question.id }}"> {{ question.question_text }} <i
                                  class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                          </div>
                          <div id="{{ question.id }}" class="collapse" data-bs-parent=".faq-list">
                              <p>
                                  {% for ansver in question.answers.all %}
                                      {{ ansver.answer_text }}
                                  {% endfor %}
                              </p>
                          </div>
                      </li>
                  {% endfor %}
              </ul>

          </div>
      </section>
      <!-- End Frequently Asked Questioins Section -->

     {% include 'slider/resurces_slider.html' %}

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="main-bg">
          <div id="contact" class="contact">
          <div class="container">
              <div class="section-title">
                  <h2>Контакты</h2>
                  {#          <p>Мы на карте</p>#}
              </div>
          </div>
          <div class="map-container">
              <div class="map-wrapper">
                  <iframe class="map-iframe"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.167571702526!2d28.785063615814045!3d55.48583038046348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c491fd7e6a28f5%3A0x6b860a7ba5f18ad1!2z0JTQmiDQodGC0LXQutC70L7QstC-0LvQvtC60L3Qviwg0JLQuNGC0LXQsdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sby!4v1646779601928!5m2!1sru!2sby"
                          frameborder="0" allowfullscreen>
                  </iframe>
              </div>
          </div>
          <div class="container">
              <div class="row mt-5">
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="info-box">
                                  <i class="bx bx-map"></i>
                                  <h3>Наш Адрес</h3>
                                  <p>211400 г.Полоцк, ТЦ.Евролюкс
                                      ул.Юбилейная, д.7(б), пом.2</p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="info-box mt-4">
                                  <i class="bx bx-envelope"></i>
                                  <h3>Наша Почта</h3>
                                  <p>polotzk_hyg@vitebsk.by</p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="info-box mt-4">
                                  <i class="bx bx-phone-call"></i>
                                  <h3>Телефон Горячей линии</h3>
                                  <p>+375(214)49-45-81</p>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="col-lg-6">
                      <form action="{% static 'webapp/forms/contact.php' %}" method="post" role="form"
                            class="php-email-form">
                          <div class="row">
                              <div class="col-md-6 form-group">
                                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше Имя"
                                         required="">
                              </div>
                              <div class="col-md-6 form-group mt-3 mt-md-0">
                                  <input type="email" class="form-control" name="email" id="email"
                                         placeholder="Ваша Почта" required="">
                              </div>
                          </div>
                          {#              <div class="form-group mt-3">#}
                          {#                <input type="text" class="form-control" name="subject" id="subject" placeholder="Телефон" required="">#}
                          {#              </div>#}
                          <div class="form-group mt-3">
                              <textarea class="form-control" name="message" rows="7" placeholder="Сообщение"
                                        required=""></textarea>
                          </div>
                          <div class="my-3">
                              <div class="loading">Loading</div>
                              <div class="error-message"></div>
                              <div class="sent-message">Ваше сообщение отправлено!</div>
                          </div>
                          <div class="text-center">
                              <button type="submit">Отправить сообщение</button>
                          </div>
                      </form>
                  </div>

              </div>

          </div>
          </div>
      </section>
      <!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}