{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image:
            url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_breadcr_recurces.jpeg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'webapp:home' %}">Главная</a></li>
            <li>Единые дни здоровья</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <!-- breaking-news -->
    <div id="single" class="single main-bg">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- //breaking-news -->

  </main><!-- End #main -->

{% endblock %}