{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section class="pagebanner-city-bogat"></section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Ветрино архив</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <!-- ======= Interactiv News Section ======= -->
    <div id="single" class="single main-bg-bogatyrskaya">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Interactiv News Section ======= -->


    {% for main_monitoring_arkhive in monitoring_plan_arkhive %}
        <section id="about" class="about main-bg-bogatyrskaya">
            <div class="container book_info" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ main_monitoring_arkhive.description|safe }}</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3" data-aos="fade-right">
                        <img src="{{ main_monitoring_arkhive.photo.url }}" class="img-fluid img-fixed-size-monitoring-plan-arhi"
                             alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <div class="archive">
                            <a href="{% url 'webapp:bogatyrckaya-archive' %}" target="_blank">
                                <li class="fa fa-calendar-plus"> {{ main_monitoring_arkhive.name|safe }}</li>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    {% endfor %}
    <!-- End deratisation Section -->

    <!-- ======= breaking-news Section ======= -->
    <section id="featured-services" class="featured-services main-bg-bogatyrskaya">
        <div class="container" data-aos="fade-up">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    {% for main_litle_news in centre_news %}
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt-fon">
                                <a href="{{ main_litle_news.link }}"><img
                                        src="{{ main_litle_news.img.url }}" alt=" "
                                        class="img-responsive"/></a>
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.name|wordwrap:30|truncatechars_html:58 }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.pub_date|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3>{{ main_litle_news.desc|safe|wordwrap:10|truncatechars_html:58 }}</h3>
                                    <div class="dummy">
                                        <a href="{{ main_litle_news.link }}">
                                            <p>{{ main_litle_news.desc_hover|safe }}</p></a>
                                    </div>
                                    <div class="com-heart-health">
                                        <ul>
                                            <li><a href="{{ main_litle_news.link }}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

  </main><!-- End #main -->

{% endblock %}