{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_st.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">{{ "Главная"|translate_text }}</a></li>
                    <li>{{ "Структура"|translate_text }}</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- End Breadcrumbs Section -->
    <div class="margin-padding-two"></div>


    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single section-bg-structure">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>{{ "Новости Центра"|translate_text }}</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description|translate_text | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two|translate_text | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->

    <!-- Structure Section -->
    <section class="section-bg-structure">
        <div class="container book_info" data-aos="fade-left">
            {% for main_info_struc in info_struc %}
                <div class="description-left">
                    <h3>
                        <i class="fas fa-copyright icon-animation"></i>{{ main_info_struc.name|translate_text|safe }}
                    </h3>
                </div>
                <img src="{% language_prefix main_info_struc.photo.url %}" alt=" "
                     class="img-responsive img-fixed-size-struc">
            {% endfor %}
        </div>
    </section>
    <!-- End Structure Section -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg-structure">
        <div class="container" data-aos="fade-up">
            {% for title_desc in title_desc_queans %}
                <div class="section-title">
                    <h2>{{ title_desc.name|translate_text }}</h2>
                    <p>{{ title_desc.description |translate_text| safe }}</p>
                </div>
            {% endfor %}

            <ul class="faq-list">
                {% for question in questions %}
                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question"
                             href="#{{ question.id }}"> {{ question.question_text|translate_text }} <i
                                class="bi bi-chevron-down icon-show"><img src="{% static 'webapp/assets/img/gigi_centr_marker-nbg.png' %}" class="img-fix"
                                 alt=""></i><i class="bi bi-chevron-up icon-close"><img src="{% static 'webapp/assets/img/gigi_centr_marker-nbg.png' %}" class="img-fix"
                                 alt=""></i>
                        </div>
                        <div id="{{ question.id }}" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                {% for ansver in question.answers.all %}
                                    {{ ansver.answer_text|translate_text }}
                                {% endfor %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>
    <!-- End Frequently Asked Questioins Section -->

{#    <!-- ======= Gallery Section ======= -->#}
{#    <section id="gallery" class="gallery section-bg-structure">#}
{#        <div class="container" data-aos="fade-up">#}
{##}
{#            <div class="section-title">#}
{#                <h2>Наши фото </h2>#}
                {#          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>#}
{#            </div>#}
{##}
{#            <div class="gallery-slider swiper">#}
{#                <div class="swiper-wrapper align-items-center">#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-1.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-2.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-3.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-4.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-5.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-6.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-7.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                    <div class="swiper-slide"><a class="gallery-lightbox"#}
{#                                                 href="{% static 'webapp/assets/img/gallery/gallery-8.jpg' %}"><img#}
{#                            src="{% static 'webapp/assets/img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="swiper-pagination"></div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}
{#    <!-- End Gallery Section -->#}

  </main><!-- End #main -->

{% endblock %}