{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_profsouz_vasilki.jpg' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Профсоюз</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-profsouz">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->

    <!-- Hotline Title and desc Section -->
    <section id="featured-services" class="featured-services main-bg-profsouz">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_profsouz in profsouz_inf %}
                    <div class="section-title">
                        <h2>{{ main_profsouz.name|safe }}</h2>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                {% for main_profsouz in profsouz_inf %}
                                    <div class="description-left">
                                        <p>{{ main_profsouz.description|safe }}</p>
                                        <p>{{ main_profsouz.package|safe }}</p>
                                        <p>{{ main_profsouz.description_two|safe }}</p>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    {% for main_profsouz in profsouz_inf_two %}
                                        <div class="section-title">
                                            <h2>{{ main_profsouz.name_main|safe }}</h2>
                                        </div>
                                    {% endfor %}
                                    {% for main_degree in profsouz_inf_two %}
                                        <div class="description-left">
                                            <p>{{ main_degree.description|safe }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ФИО</th>
                                    <th>Занимаемая должность</th>
                                    <th>Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_profsouz in profsouz_infall %}
                                    <tr>
                                        <td>{{ main_profsouz.number|safe }}</td>
                                        <td>{{ main_profsouz.name_doctors|safe }}</td>
                                        <td>{{ main_profsouz.status|safe }}</td>
                                        <td>{{ main_profsouz.phone|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% for main_profsouz in profsouz_icons %}
                                <div class="description-left">
                                    <p>{{ main_profsouz.description|safe }}</p>
                                </div>
                                <div class="social-links mt-3">
                                    <a href="{{ main_profsouz.link_telegram }}"><i class="bx bxl-telegram"></i></a>
                                    <a href="{{ main_profsouz.link_facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
                                    <a href="{{ main_profsouz.link_instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="{{ main_profsouz.link_vk }}" class="linkedin"><i class="bx bxl-vk"></i></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                {% for main_degree in profsouz_inf_two %}
                    <div class="section-title">
                        <p>{{ main_degree.package|safe }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ФИО</th>
                                    <th>Занимаемая должность</th>
                                    <th>Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_prof_tabl_three in profsouz_inf_three %}
                                    <tr>
                                        <td>{{ main_prof_tabl_three.number|safe }}</td>
                                        <td>{{ main_prof_tabl_three.name_doctors|safe }}</td>
                                        <td>{{ main_prof_tabl_three.status|safe }}</td>
                                        <td>{{ main_prof_tabl_three.phone|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- End Hotline Title and desc Section -->

</main><!-- End #main -->

{% endblock %}