{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}
{% block content %}

    <main id="main">


              <!-- ======= Breadcrumbs Section ======= -->
      <!-- pagebanner -->
      <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_oclock.jpg' %}{% endif %}')">
      </section>
      <!-- End Pagebanner -->
      <section class="breadcrumbs_contacts">
          <div class="container">

              <div class="d-flex justify-content-between align-items-center">
                  <ol>
                      <li><a href="{% url 'webapp:home' %}">{{ "Главная"|translate_text }}</a></li>
                      <li>{{ "Режим работы"|translate_text }}</li>
                  </ol>
              </div>
          </div>
      </section>

      <div class="margin-padding-two"></div>

        <!-- ======= Interactiv News Section ======= -->
        <section id="clocks" class="clocks">
            <div id="single" class="single ">
                <div class="breaking-news">
                    <div class="container">
                        {% for main_interactiv_string in interactiv %}
                            <div class="move-text">
                                <div class="breaking_news">
                                    <h2>{{ "Новости Центра"|translate_text }}</h2>
                                </div>
                                <div class="marquee">
                                    <div class="marquee1"><a class="breaking"
                                                             href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description |translate_text| safe }}</a>
                                    </div>
                                    <div class="marquee2"><a class="breaking"
                                                             href="{% url 'news:cge_news' %}">{{ main_interactiv_string.description_two |translate_text| safe }}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                                <script>
                                    $('.marquee').marquee({pauseOnHover: true});
                                    //@ sourceURL=pen.js
                                </script>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- ======= End Interactiv News Section ======= -->

            <!-- ======= Doctors Section ======= -->
            <div class="container" data-aos="fade-up">
                {% for main_title_clocks in info_clocks %}
                    <div class="section-title">
                        <h2>{{ main_title_clocks.title|translate_text }}</h2>
                        <p>{{ main_title_clocks.description |translate_text| safe }}</p>
                    </div>
                {% endfor %}

                <div class="row">
                    <section id="clocks-two" class="clocks-two">
                        <div class="table-info">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <table class="iksweb">
                                    <thead>
                                    <tr>
                                        <th>{{ "Должность"|translate_text }}</th>
                                        <th>{{ "ФИО"|translate_text }}</th>
                                        <th>{{ "Этаж | Кабинет"|translate_text }}</th>
                                        <th>{{ "Дни и Время приёма"|translate_text }}</th>
                                        <th>{{ "Телефон"|translate_text }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for main_clock in clocks %}
                                        <tr>
                                            <td>{{ main_clock.name|translate_text }}</td>
                                            <td>{{ main_clock.family_name|translate_text }}</td>
                                            <td>{{ main_clock.office|translate_text }}</td>
                                            <td>{{ main_clock.reception_time }}</td>
                                            <td>{{ main_clock.phone }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                {#                <div class="row">#}
                {#                    {% for main_clocks in clocks %}#}
                {#                        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">#}
                {#                            <div class="box" data-aos="fade-up" data-aos-delay="300">#}
                {#                                <h3>{{ main_clocks.name }}</h3>#}
                {#                                <ul>#}
                {#                                    <li>{{ main_clocks.family_name }}</li>#}
                {#                                    <li>{{ main_clocks.last_name }}</li>#}
                {#                                    <li>{{ main_clocks.office }}</li>#}
                {#                                    <li>{{ main_clocks.phone }}</li>#}
                {#                                    <li>{{ main_clocks.reception_time }}</li>#}
                {#                                </ul>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    {% endfor %}#}
                {#                </div>#}
            </div>
            <!-- End Doctors Section -->

            <!-- ======= Doctors Section ======= -->
            <section id="doctors" class="doctors">
                <div id="contact" class="contact">
                    <div class="container" data-aos="fade-up">
                        <div class="section-title">
                            <h2>{{ "Наша Команда"|translate_text }}</h2>
                            <p>{{ "Каждый наш сотрудник - мастер своего дела, обладающий неповторимым багажом знаний и опыта."|translate_text }}</p>
                        </div>

                        <div class="row">

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="100">
                                    <div class="member-img">
                                        <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_man.png' %}"
                                             class="img-fluid"
                                             alt="">
                                        <div class="social">
                                            <a href="{% url 'webapp:chief-doctor' %}"><h4>{{ "Записаться на приём"|translate_text }}</h4></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>{{ "Гуринович"|translate_text }}<br>{{ "Михаил Евгеньевич"|translate_text }}</h4>
                                        <span>{{ "Главный государственный"|translate_text }}<br>{{ "санитарный врач"|translate_text }}</span>
                                        <span>{{ "города Полоцка и Полоцкого района"|translate_text }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="400">
                                    <div class="member-img">
                                        <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_women.jpg' %}"
                                             class="img-fluid"
                                             alt="">
                                        <div class="social">
                                            <a href=""><h4>{{ "Записаться на приём"|translate_text }}</h4></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>{{ "Гречуха Юлия"|translate_text }}<br>{{ "Владимировна"|translate_text }}</h4>
                                        <span>{{ "Заместитель главного врача"|translate_text }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="200">
                                    <div class="member-img">
                                        <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_women.jpg' %}"
                                             class="img-fluid"
                                             alt="">
                                        <div class="social">
                                            <a href=""><h4>{{ "Отдел Гигиены"|translate_text }}</h4></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>{{ "Щербакова Ольга Александровна"|translate_text }}</h4>
                                        <span>{{ "Заведующий отделом"|translate_text }}</span>
                                        <span>{{ "каб. №12, 4-этаж"|translate_text }}</span>
                                        <span>{{ "тел:"|translate_text }} +375(214)49-31-52</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                                <div class="member" data-aos="fade-up" data-aos-delay="300">
                                    <div class="member-img">
                                        <img src="{% static 'webapp/assets/img/doctors/gigi_centr_user_man.png' %}"
                                             class="img-fluid"
                                             alt="">
                                        <div class="social">
                                            <a href=""><h4>{{ "Отдел Гигиены Питания"|translate_text }}</h4></a>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <h4>{{ "Мороз Юрий"|translate_text }}<br>{{ "Олегович"|translate_text }}</h4>
                                        <span>{{ "Заведующий отделением"|translate_text }}</span>
                                        <span>{{ "каб. №14, 4-этаж"|translate_text }}</span>
                                        <span>{{ "тел:"|translate_text }} +375(214)49-31-52</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Doctors Section -->
        </section>

    </main><!-- End #main -->

{% endblock %}