{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <main id="main">


              <!-- ======= Breadcrumbs Section ======= -->
      <!-- pagebanner -->
      <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_oclock.jpg' %}{% endif %}')">
{#          <div class="page-title">#}
{#              <h2 class="white text-center">Контакты</h2>#}
{#          </div>#}
      </section>
      <!-- End Pagebanner -->
      <section class="breadcrumbs_contacts">
          <div class="container">

              <div class="d-flex justify-content-between align-items-center">
                  <ol>
                      <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                      <li>Режим работы</li>
                  </ol>
              </div>
          </div>
      </section>


        <!-- ======= Doctors Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
             {% for main_title_clocks in info_clocks %}
                <div class="section-title">
                    <h2>{{ main_title_clocks.title }}</h2>
                    <p>{{ main_title_clocks.description | safe }}</p>
                </div>
            {% endfor %}

                <div class="row">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>Должность</th>
                                    <th>ФИО</th>
                                    <th>Этаж | Кабинет</th>
                                    <th>Дни и Время приёма</th>
                                    <th>Телефон</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_clock in clocks %}
                                    <tr>
                                        <td>{{ main_clock.name }}</td>
                                        <td>{{ main_clock.family_name }}</td>
                                        <td>{{ main_clock.office }}</td>
                                        <td>{{ main_clock.reception_time }}</td>
                                        <td>{{ main_clock.phone }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{#                <div class="row">#}
{#                    {% for main_clocks in clocks %}#}
{#                        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">#}
{#                            <div class="box" data-aos="fade-up" data-aos-delay="300">#}
{#                                <h3>{{ main_clocks.name }}</h3>#}
{#                                <ul>#}
{#                                    <li>{{ main_clocks.family_name }}</li>#}
                                    {#                                    <li>{{ main_clocks.last_name }}</li>#}
{#                                    <li>{{ main_clocks.office }}</li>#}
{#                                    <li>{{ main_clocks.phone }}</li>#}
{#                                    <li>{{ main_clocks.reception_time }}</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </section>
        <!-- End Doctors Section -->

        <!-- ======= Departments Section ======= -->
        <section id="departments" class="departments">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Личный приём</h2>
                    <p>граждан, индивидуальных предпринимателей и юридических лиц<br>понедельник-пятница с
                        8.00 до 17.00,
                        обед с 13.00 до 14.00</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                                    <h4>Главный врач</h4>
                                    <p>Личный приём граждан, индивидуальных предпринимателей и юридических лиц.</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                                    <h4>Заместитель главного врача</h4>
                                    <p>Личный приём граждан, индивидуальных предпринимателей и юридических лиц.</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                                    <h4>Прием граждан</h4>
                                    <p>Индивидуальных предпринимателей и юридических лиц.</p>
                                </a>
                            </li>
                            {#                            <li class="nav-item mt-2">#}
                            {#                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">#}
                            {#                                    <h4>Pediatrics</h4>#}
                            {#                                    <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>#}
                            {#                                </a>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <h3>Гуринович Михаил Евгеньевич</h3>
                                <p class="fst-italic">Возможна предварительная запись,
                                    в случае отсутсвия прием проводит заместитель главного врача.</p>
                                <img src="{% static 'webapp/assets/img/departments-1.jpg' %}" alt="" class="img-fluid">
                                <p>Кабинет № 3 (3 этаж)<br>
                                    Четверг с 8.00 до 12.00, еженедельно<br>
                                    тел./факс 49 45 81</p>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <h3>Гречуха Юлия Владимирвона</h3>
                                <p class="fst-italic">Личный приём граждан, индивидуальных предпринимателей и
                                    юридических лиц.</p>
                                <img src="{% static 'webapp/assets/img/departments-2.jpg' %}" alt="" class="img-fluid">
                                <p>Кабинет № 3 (3 этаж)<br>
                                    Четверг с 8.00 до 13.00, еженедельно<br>
                                    тел./факс 49 45 81</p>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <h3>Прием граждан</h3>
                                <p class="fst-italic">Полоцкого зонального ЦГЭ осуществляется в приемные дни</p>
                                <img src="{% static 'webapp/assets/img/departments-3.jpg' %}" alt="" class="img-fluid">
                                <p>Понедельник - с 8.00 до 13.00<br>
                                    Четверг - с 8.00 до 13.00</p>
                            </div>
                            {#                            <div class="tab-pane" id="tab-4">#}
                            {#                                <h3>Pediatrics</h3>#}
                            {#                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde#}
                            {#                                    sonata raqer a videna mareta paulona marka</p>#}
                            {#                                <img src="{% static 'webapp/assets/img/departments-4.jpg' %}" alt="" class="img-fluid">#}
                            {#                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos#}
                            {#                                    ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima#}
                            {#                                    eveniet#}
                            {#                                    eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus#}
                            {#                                    nostrum rem vero</p>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Departments Section -->


        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    {% for main_features in features %}
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="{{ main_features.icon_class }}"></i></div>
                                <h4 class="title"><a href="{{ main_features.link }}">{{ main_features.name }}</a></h4>
                                <p class="description">{{ main_features.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Featured Services Section -->

    </main><!-- End #main -->

{% endblock %}