{% load static %}
{% load templatetags %}
<section class="partner-slider main-bg-anal-info">
    <div class="container">
        <div class="section-title">
            {% for main_slider_name in sliders %}
                {% if forloop.first %}
                    <h2>{{ main_slider_name.name|translate_text|safe }}</h2>
                {% endif %}
            {% endfor %}
        </div>
        <div class="partner-slider-wrapper">
            {% for main_slide in sliders %}
                <div class="partner-slide">
                    <a href="{{ main_slide.link }}" target="_blank">
                        <img src="{{ main_slide.img.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const slides = document.querySelectorAll('.partner-slide');
        let currentIndex = 0;

        function showSlides() {
            // Скрыть все слайды
            slides.forEach((slide, index) => {
                slide.style.display = "none";
                slide.classList.remove('active');
            });

            // Показать три центральных слайда
            for (let i = 0; i < 4; i++) {
                const index = (currentIndex + i) % slides.length;
                slides[index].style.display = "block";
                slides[index].classList.add('active');
            }

            // Переключить индекс для следующего показа
            currentIndex = (currentIndex + 1) % slides.length;
        }

        // Запуск слайдера каждые 4 секунды
        setInterval(showSlides, 4000);

        // Показать первые три слайда при загрузке
        showSlides();
    </script>
</section>
