{% load static %}


<section class="partner-slider main-bg">
    <div class="container">
        <div class="section-title">
        <h2>Наши партнеры</h2>
        </div>
        <div class="partner-slider-wrapper">
            <div class="partner-slide">
                <a href="#" target="_blank">
                    <img src="{% static 'webapp/assets/img/gigi_belfarm.png' %}" alt="Partner 1">
                </a>
            </div>
            <div class="partner-slide">
                <a href="#" target="_blank">
                    <img src="{% static 'webapp/assets/img/gigi_centr_nadzor.png' %}" alt="Partner 2">
                </a>
            </div>
            <div class="partner-slide">
                <a href="#" target="_blank">
                    <img src="{% static 'webapp/assets/img/gigi_resursy_profsoyuz.png' %}" alt="Partner 3">
                </a>
            </div>
            <div class="partner-slide">
                <a href="#" target="_blank">
                    <img src="{% static 'webapp/assets/img/gigi_centr_slider_galery.png' %}" alt="Partner 4">
                </a>
            </div>
            <div class="partner-slide">
                <a href="#" target="_blank">
                    <img src="{% static 'webapp/assets/img/gigi_belmedteh.png' %}" alt="Partner 5">
                </a>
            </div>
        </div>
    </div>

    <script>
        const slides = document.querySelectorAll('.partner-slide');
        let currentIndex = 0;

        function showSlides() {
            // Скрыть все слайды
            slides.forEach((slide, index) => {
                slide.style.display = "none";
                slide.classList.remove('active');
            });

            // Показать три центральных слайда
            for (let i = 0; i < 3; i++) {
                const index = (currentIndex + i) % slides.length;
                slides[index].style.display = "block";
                slides[index].classList.add('active');
            }

            // Переключить индекс для следующего показа
            currentIndex = (currentIndex + 1) % slides.length;
        }

        // Запуск слайдера каждые 3 секунды
        setInterval(showSlides, 4000);

        // Показать первые три слайда при загрузке
        showSlides();
    </script>
</section>

