{% load static %}
{% load templatetags %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
            {% for slide in slides %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}"
                     style="background-image: url('{{ slide.photo.url }}')">
                    <div class="container">
                        <h2>{{ slide.slider.name|translate_text }}</h2>
                        <h4>{{ slide.description|translate_text }}</h4>
                        <a href="{% url 'news:cge_news' %}"
                           class="btn-get-started scrollto">{{ "Узнать Больше"|translate_text }}</a>
                    </div>
                </div>
            {% empty %}
                <p>Слайды отсутствуют.</p>
            {% endfor %}
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->