{% load static %}

<style>
    .image-container {
        position: relative;
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(0deg);
        transition: transform 0.7s;
        margin: 7% auto;
    }

    .image-container span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    }

    .image-container span img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 5px;
    }

    .btn-container {
        position: relative;
        width: 80%;
        margin: 0 auto 8%;
    }

    .btn {
        position: absolute;
        bottom: -80px;
        background-color: #3fbbc0;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        filter: brightness(1.5);
    }

    #prev {
        left: 0%;
        margin-bottom: 23%;
    }

    #next {
        right: 0%;
        margin-bottom: 23%;
    }

    @media (min-width: 375px) and (max-width: 667px) {
        .image-container {
            position: relative;
            width: 125px;
            height: 125px;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateY(0deg);
            transition: transform 0.7s;
            margin: 7% auto;
        }
    }

</style>
<section class="partner-slider main-bg">
    <div class="image-container">
        {% for main_slide in sliders %}
            {% if forloop.counter <= 20 %}  <!-- Проверяем, чтобы отображать не более 8 элементов -->
                <span style="--i: {{ forloop.counter }}">
                        <a href="{{ main_slide.link }}" target="_blank"><img src="{{ main_slide.img.url }}"
                                                                             title="image"></a>
            </span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="btn-container">
        <button class="btn" id="prev">◀</button>
        <button class="btn" id="next">▶</button>
    </div>
    </div>
</section>

<script>
    const imageCon = document.querySelector(".image-container");

    const prevEl = document.getElementById("prev");
    const nextEl = document.getElementById("next");

    let x = 0;
    let timer = 0;

    prevEl.addEventListener("click", () => {
        x = x + 45;
        clearTimeout(timer);
        updateImage();
    });
    nextEl.addEventListener("click", () => {
        x = x - 45;
        clearTimeout(timer);
        updateImage();
    });

    function updateImage() {
        imageCon.style.transform = `perspective(1000px) rotateY(${x}deg)`;
        timer = setTimeout(() => {
            x = x - 45;
            updateImage();
        }, 3000);
    }

    updateImage();
</script>
