{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'webapp/assets/img/slide/polock_epi_banner.png' %})">
          <div class="container">
            <h2>Государственное<span> Учреждение</span></h2>
            <h4>Полоцкий Зональный Центр Гигиены и Эпидемиалогии</h4>
            <a href="#about" class="btn-get-started scrollto">Узнать Больше</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'webapp/assets/img/slide/epigigicentr_banner_polock.png' %})">
          <div class="container">
            <h2>Гимнастика, Ходьба и Физические упражнения</h2>
            <h4>должны прочно войти в повседневный быт каждого, кто хочет сохранить работоспособность, здоровье, полноценную и радостную жизнь.</h4>
            <a href="#about" class="btn-get-started scrollto">Узнать Больше</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'webapp/assets/img/slide/epigigcenter_banner4.png' %})">
          <div class="container">
            <h2>Твое Здоровье</h2>
            <h4>Чистый Воздух, Вода и Пища</h4>
            <a href="#about" class="btn-get-started scrollto">Узнать Больше</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->