{% load static %}

<!-- banner section start start-->
<div class="banner-main-wrapper3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h4>We Are Here For You</h4>
                    <h2>Professional and Friendly<br>
                        <span> Health Care</span> For You
                    </h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        <br>
                        a page when looking at its layout. The point of using Lorem Ipsum.
                    </p>
                    <div class=" d-flex justify-content-center align-items-center">
                        <a href="javascript:;" class="button-btn bg-yellow mt-4 me-4">book now
                            <span><i class="fas fa-angle-double-right"></i></span>
                        </a>
                        <div class="mt-4 ps-rel">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                           <span class="wrapper">
                              <span class="waves-block">
                                 <span class="waves wave-1"></span>
                                 <span class="waves wave-2"></span>
                                 <span class="waves wave-3"></span>
                              </span>
                           </span>
                                <img src="{% static 'webapp/images/home3/video-icon.png' %}" alt="img" class="ps-rel">
                            </button>
                            <!-- Modal -->
                            <div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <button type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                                        </button>
                                        <div class="modal-body p-0">
                                            <iframe height="315" src="https://www.youtube.com/embed/8jd9YnoekiI"
                                                    title="YouTube video player"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h4>We Are Here For You</h4>
                    <h2>Professional and Friendly<br>
                        <span> Health Care</span> For You
                    </h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        <br>
                        a page when looking at its layout. The point of using Lorem Ipsum.
                    </p>
                    <div class=" d-flex justify-content-center align-items-center">
                        <a href="appoinment.html" class="button-btn bg-yellow mt-4 me-4">book now
                            <span><i class="fas fa-angle-double-right"></i></span>
                        </a>
                        <a href="javascript:;" class="mt-4 ps-rel">
                            <div class="wrapper">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                            <img src="{% static 'webapp/images/home3/video-icon.png' %}" alt="img" class="ps-rel">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h4>We Are Here For You</h4>
                    <h2>Professional and Friendly<br>
                        <span> Health Care</span> For You
                    </h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        <br>
                        a page when looking at its layout. The point of using Lorem Ipsum.
                    </p>
                    <div class=" d-flex justify-content-center align-items-center">
                        <a href="javascript:;" class="button-btn bg-yellow mt-4 me-4">book now
                            <span><i class="fas fa-angle-double-right"></i></span>
                        </a>
                        <a href="javascript:;" class="mt-4 ps-rel">
                            <div class="wrapper">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                            <img src="{% static 'webapp/images/home3/video-icon.png' %}" alt="img" class="ps-rel">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h4>We Are Here For You</h4>
                    <h2>Professional and Friendly<br>
                        <span> Health Care</span> For You
                    </h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        <br>
                        a page when looking at its layout. The point of using Lorem Ipsum.
                    </p>
                    <div class=" d-flex justify-content-center align-items-center">
                        <a href="javascript:;" class="button-btn bg-yellow mt-4 me-4">book now
                            <span><i class="fas fa-angle-double-right"></i></span>
                        </a>
                        <a href="javascript:;" class="mt-4 ps-rel">
                            <div class="wrapper">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                            <img src="{% static 'webapp/images/home3/video-icon.png' %}" alt="img" class="ps-rel">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section start end-->
