{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner">

    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>АП</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= AP text Section ======= -->
    <section id="featured-services" class="featured-services ap-bg">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_inventory in inventory_info %}
                    <div class="section-title">
                        <h2>{{ main_inventory.name_main|safe }}</h2>
                        <p>{{ main_inventory.description|safe }}</p>
                    </div>
                    <div class="description">
                    <p>{{ main_inventory.description_two|safe }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End AP text Section -->

  </main><!-- End #main -->

{% endblock %}