{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_centr.png' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>В отношении граждан</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->


    <!-- Hotline Title and desc Section -->
    <section id="featured-services" class="featured-services main-bg-book-of">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_rel in rel_inf %}
                    <div class="section-title">
                        <h3>{{ main_rel.name|safe }}</h3>
                        <p>{{ main_rel.description|safe }}</p>
                    </div>
                {% endfor %}
            </div>
          <div class="row">
                    <section class="hotline">
                        <div class="table-info">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <table class="iksweb">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Наименование административной процедуры</th>
                                        <th>Документы и (или) сведения, представляемые гражданином для осуществления административной процедуры</th>
                                        <th>Размер платы, взимаемой при осуществлении административной процедуры</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for main_human_recurces in hr_inf %}
                                        <div class="description-left">
                                            <h3>{{ main_human_recurces.name|safe }}</h3>
                                        </div>
                                        <tr>
                                            <td>{{ main_human_recurces.number_ap|safe }}</td>
                                            <td>{{ main_human_recurces.name_ap|safe }}</td>
                                            <td>{{ main_human_recurces.doc_ap|safe }}</td>
                                            <td>{{ main_human_recurces.size_ap|safe }}</td>
                                        </tr>
                                        <div class="description-left">
                                            <p>{{ main_human_recurces.description|safe }}</p>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
        </div>
    </section>
    <!-- End Hotline Title and desc Section -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                {% for main_features in features %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="{{ main_features.icon_class }}"></i></div>
                            <h4 class="title"><a href="{{ main_features.link }}">{{ main_features.name }}</a></h4>
                            <p class="description">{{ main_features.description|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->

  </main><!-- End #main -->

{% endblock %}