{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_centr.png' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>В отношении граждан</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <!-- ======= Book NEWS text Section ======= -->
    <div id="single" class="single main-bg-hotline">
        <div class="breaking-news">
            <div class="container">
                {% for main_interactiv_string in interactiv %}
                    <div class="move-text">
                        <div class="breaking_news">
                            <h2>Новости Центра</h2>
                        </div>
                        <div class="marquee">
                            <div class="marquee1"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description | safe }}</a>
                            </div>
                            <div class="marquee2"><a class="breaking"
                                                     href="{% url 'news:news' %}">{{ main_interactiv_string.description_two | safe }}</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                        <script>
                            $('.marquee').marquee({pauseOnHover: true});
                            //@ sourceURL=pen.js
                        </script>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ======= End Book News text Section ======= -->


    <!-- Hotline Title and desc Section -->
    <section id="featured-services" class="featured-services main-bg-book-of">
        <div class="container book_info" data-aos="fade-up">
            <div class="row">
                {% for main_rel in rel_inf %}
                    <div class="section-title">
                        <h3>{{ main_rel.name|safe }}</h3>
                        <p>{{ main_rel.description|safe }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                {% for main_human_recurces in hr_inf %}
                                    <div class="description-left">
                                        <h3>{{ main_human_recurces.name|safe }}</h3>
                                        <p>{{ main_human_recurces.description|safe }}</p>
                                    </div>
                                {% endfor %}
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование административной процедуры</th>
                                    <th>Документы и (или) сведения, представляемые гражданином для осуществления аминистративной процедуры</th>
                                    <th>Размер платы, взимаемой при осуществлении административной процедуры</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_human_recurces in table_inf %}
                                    <tr>
                                        <td>{{ main_human_recurces.number_ap|safe }}</td>
                                        <td>{{ main_human_recurces.name_ap|safe }}</td>
                                        <td>{{ main_human_recurces.doc_ap|safe }}</td>
                                        <td>{{ main_human_recurces.size_ap|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование административной процедуры</th>
                                    <th>Документы и (или) сведения, представляемые гражданином для осуществления административной процедуры</th>
                                    <th>Размер платы, взимаемой при осуществлении административной процедуры</th>
                                    <th>Сроки выполнения административной процедуры</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_accounting in accounting_desc %}
                                    <div class="description-left">
                                        <h3>{{ main_accounting.name|safe }}</h3>
                                        <p>{{ main_accounting.description|safe }}</p>
                                    </div>
                                {% endfor %}
                                {% for main_accounting in accounting_inf %}
                                    <tr>
                                        <td>{{ main_accounting.number_ap|safe }}</td>
                                        <td>{{ main_accounting.name_ap|safe }}</td>
                                        <td>{{ main_accounting.doc_ap|safe }}</td>
                                        <td>{{ main_accounting.size_ap|safe }}</td>
                                        <td>{{ main_accounting.date_ap|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование административной процедуры</th>
                                    <th>Документы и (или) сведения, представляемые гражданином для осуществления административной процедуры</th>
                                    <th>Размер платы, взимаемой при осуществлении административной процедуры</th>
                                    <th>Сроки выполнения административной процедуры</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_union in union_desc %}
                                    <div class="description-left">
                                        <h3>{{ main_union.name|safe }}</h3>
                                        <p>{{ main_union.description|safe }}</p>
                                    </div>
                                {% endfor %}
                                {% for main_union in union_inf %}
                                    <tr>
                                        <td>{{ main_union.number_ap|safe }}</td>
                                        <td>{{ main_union.name_ap|safe }}</td>
                                        <td>{{ main_union.doc_ap|safe }}</td>
                                        <td>{{ main_union.size_ap|safe }}</td>
                                        <td>{{ main_union.date_ap|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="hotline">
                    <div class="table-info">
                        <div class="box" data-aos="fade-up" data-aos-delay="300">
                            <table class="iksweb">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование административной процедуры</th>
                                    <th>Государственный орган (иная организация), в который гражданин должен обратиться</th>
                                    <th>Документы, и (или) сведения, предостав-ляемые граждани-ном для осуществле-ния административ-ной процедуры</th>
                                    <th>Максимальный срок осуществления административной процедуры</th>
                                    <th>Срок действия справки, другого документа (решения), выдаваемых (принимаемого) при осуществлении административной процедуры</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for main_degree in degree_desc %}
                                    <div class="description-left">
                                        <h5>{{ main_degree.name|safe }}</h5>
                                        <p>{{ main_degree.description|safe }}</p>
                                    </div>
                                {% endfor %}
                                {% for main_degree in degree_inf %}
                                    <tr>
                                        <td>{{ main_degree.number_ap|safe }}</td>
                                        <td>{{ main_degree.name|safe }}</td>
                                        <td>{{ main_degree.name_ap|safe }}</td>
                                        <td>{{ main_degree.doc_ap|safe }}</td>
                                        <td>{{ main_degree.size_ap|safe }}</td>
                                        <td>{{ main_degree.date_ap|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- End Hotline Title and desc Section -->

  </main><!-- End #main -->

{% endblock %}