{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_gazeta.png' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">Главная</a></li>
                    <li>Новость</li>
                </ol>
            </div>
        </div>
    </section>

<!-- single -->
	<div id="single" class="single single-bg">
		<div class="container">
			<div class="single-grid">
				<div class="col-md-8 blog-left">
					<div class="blog-left-grid">
                        {% for main_single_news in news %}
						<div class="blog-leftl">
							<h4>{{ main_single_news.pub_date|date:"M" }}</h4>
							<a href="#"><i class="fa fa-tags" aria-hidden="true"></i> {{ main_single_news.pub_date.day }}</a>
						</div>
						<div class="blog-leftr">
							<img src="{{ main_single_news.photo.url }}" alt=" " class="img-responsive" />
							<p>{{ main_single_news.description|safe }}</p>
							<p>{{ main_single_news.description_small|safe }}</p>
							<ul>
								<li><a href="#"><i class="fa fa-user-doctor" aria-hidden="true"></i> {{ main_single_news.author }}</a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
                        {% endfor %}
					</div>
                </div>
                <div class="col-md-4 breaking-news-grid-right">
                    <h3>Свежие новости</h3>
                    <ul>
                        {% for main_litle_news in news_main|slice:":3" %}
                            <li>
                                <div class="breaking-news-grid-right-grids">
                                    <div class="breaking-news-grid-right-gridl img-fixed-size-three">
                                        <a href="{% url 'news:single' pk=main_litle_news.id %}"><img
                                                src="{{ main_litle_news.logo_photo.url }}" alt=" "
                                                class="img-responsive"/></a>
                                    </div>
                                    <div class="breaking-news-grid-right-gridr">
                                        <h4>
                                            <a href="{% url 'news:single' pk=main_litle_news.id %}">
                                                {{ main_litle_news.title|wordwrap:30|truncatechars_html:58 }}
                                            </a>
                                        </h4>
                                        <ul>
                                            <li><a href="{% url 'news:single' pk=main_litle_news.id %}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="news">
                    <div class="news-grids">
                        <div class="col-md-4 news-grid-right">
                            <div class="news-grid-rght1">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a class="high" href="#home"
                                                                              aria-controls="home" role="tab"
                                                                              data-toggle="tab">погода в полоцке</a>
                                    </li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                               data-toggle="tab">выбрать местоположенине</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                     <div role="tabpanel" class="tab-pane active london" id="home">
                                            <ul>
                                                <li>
                                                    <h4>Понедельник</h4>
                                                    <span>{{ weather.day1 }}</span>
                                                    <p>{{ weather.temperature1 }}<sup>🌡</sup></p>
                                                </li>
                                                <li>
                                                    <h4>Вторник</h4>
                                                    <span class="moon">{{ weather.day2 }}</span>
                                                    <p>{{ weather.temperature2 }}<sup>🌡</sup></p>
                                                </li>
                                                <li>
                                                    <h4>Среда</h4>
                                                    <span class="sun">{{ weather.day3 }}</span>
                                                    <p>{{ weather.temperature3 }}<sup>🌡</sup></p>
                                                </li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194025.7100198714!2d28.666667!3d55.483333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e6c732a235bcab%3A0x60594c75ea92b66e!2z0JrQuNGX0LIg0KXQu9C40LrRgtC10YXQvdC40YbQsCDQotCw0LLRgdGM0LrQsCDQoNC-0YHRgtC10L3RgtGB0LrQsNGPINC-0LHQu9Cw0YHRgtC-0LzRgdGC0YwsIDY3MDAw!5e0!3m2!1sru!2sby!4v1649286014621!5m2!1sru!2sby"
                                                frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>

                            </div>
                            <div class="news-grid-rght3">
                                <img src="{% static 'images/gigi_centr_girispolkom.jpg' %}" alt=" " class="img-responsive"/>
                                <div class="story">
                                    <p>фото дня</p>
                                    <h3><a href="single.html">Горисполком город Полоцк</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
		</div>
	</div>
<!-- //single -->

    <!-- breaking-news -->
    <div class="breaking-news single-bg">
        <div class="container">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    <div class="col-md-3 banner-bottom-grid-left">
                        <div class="br-bm-gd-lt">
                            <div class="overlay">
                                <div class="arrow-left"></div>
                                <div class="rectangle"></div>
                            </div>
                            <div class="health-pos">
                                <div class="health">
                                    <ul>
                                        <li><a href="#">Здоровье</a></li>
                                        <li>28 Мая 2024</li>
                                    </ul>
                                </div>
                                <h3>Наши Статьи о том как беречь своё Здоровье.</h3>
                                <div class="dummy">
                                    <p>Тут мы расскажем вам о правильном питании и сне.</p>
                                </div>
                                <div class="com-heart">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span> Центр Гигиены</a></li>
										<li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 11,536</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 banner-bottom-grid-left">
                        <div class="br-bm-gd-lt br-bm-gd-lt1">
                            <div class="overlay">
                                <div class="arrow-left"></div>
                                <div class="rectangle"></div>
                            </div>
                            <div class="health-pos">
                                <div class="health">
                                    <ul>
                                        <li><a href="#" class="sport">Спорт</a></li>
                                        <li>28 Мая 2024</li>
                                    </ul>
                                </div>
                                <h3>Почему и как нужно заниматься спортом.</h3>
                                <div class="dummy">
                                    <p>Популярные статьи о спорте.</p>
                                </div>
                                <div class="com-heart">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span> Центр Гигиены</a></li>
										<li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 13,536</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 banner-bottom-grid-left">
                        <div class="br-bm-gd-lt br-bm-gd-lt2">
                            <div class="overlay">
                                <div class="arrow-left"></div>
                                <div class="rectangle"></div>
                            </div>
                            <div class="health-pos">
                                <div class="health">
                                    <ul>
                                        <li><a href="#" class="plane">Экономика</a></li>
                                        <li>28 Мая 2024</li>
                                    </ul>
                                </div>
                                <h3>Новости мира Экономики в 2024 году.</h3>
                                <div class="dummy">
                                    <p>Популярные статьи об экономике.</p>
                                </div>
                                <div class="com-heart">
                                    <ul>
                                        <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span> Центр Гигиены</a></li>
										<li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 7,536</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 banner-bottom-grid-left">
                        <div class="br-bm-gd-lt br-bm-gd-lt3">
                            <div class="overlay">
                                <div class="arrow-left"></div>
                                <div class="rectangle"></div>
                            </div>
                            <div class="health-pos">
                                <div class="health">
                                    <ul>
                                        <li><a href="" class="general">Важное</a></li>
                                        <li>28 Мая 2024</li>
                                    </ul>
                                </div>
                                <h3>Новости о природе Беларуси, леса и водоемы.</h3>
                                <div class="dummy">
                                    <p>Что нужно знать посещая лесополосу и отдыхая рядом с водой.</p>
                                </div>
                                <div class="com-heart">
                                    <ul>
                                       <li><a href="#"><span class="fa fa-user-doctor" aria-hidden="true"></span> Центр Гигиены</a></li>
										<li><a href="#"><span class="fa fa-eye" aria-hidden="true"></span> 15,536</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div>
                <ul>
                    <p></p>
                </ul>
            </div>
            {% for main_interactiv_string in interactiv %}
                <div class="move-text single-bg">
                    <div class="breaking_news">
                        <h2>Новости Центра</h2>
                    </div>
                    <div class="marquee">
                        <div class="marquee1"><a class="breaking"
                                                 href="single.html">{{ main_interactiv_string.description | safe }}</a>
                        </div>
                        <div class="marquee2"><a class="breaking"
                                                 href="single.html">{{ main_interactiv_string.description_two | safe }}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <script type="text/javascript" src="{% static 'js/jquery.marquee.js' %}"></script>
                    <script>
                        $('.marquee').marquee({pauseOnHover: true});
                        //@ sourceURL=pen.js
                    </script>
                </div>
            {% endfor %}
            <div>
                <ul>
                    <p></p>
                </ul>
            </div>
        </div>
    </div>
    <!-- //breaking-news -->
{% endblock %}