{% extends 'main/base.html' %}
{% load static %}
{% load templatetags %}


{% block content %}
    <!-- pagebanner -->
    <section id="pagebanner" style="background-image: url('{% if contact_banner_image %}{{ contact_banner_image.url }}{% else %}{% static 'webapp/assets/img/gigi_centr_gazeta.png' %}{% endif %}')">
    </section>
    <!-- End Pagebanner -->
    <section class="breadcrumbs_contacts">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'webapp:home' %}">{{ "Главная"|translate_text }}</a></li>
                    <li>{{ "Новости"|translate_text }}</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- single -->
    <div id="single" class="single main-bg">
        <div class="container">
            <div class="single-grid">
                <div class="col-md-8 blog-left">
                    <div class="blog-left-grid">
                        <!-- Убран цикл for, так как news — объект модели -->
                        <div class="blog-leftl">
                            <h4>{{ news.pub_date|translate_text|date:"M" }}</h4>
                            <a href="#"><i class="fa fa-tags" aria-hidden="true"></i> {{ news.pub_date.day|translate_text }}</a>
                        </div>
                        <div class="blog-leftr">
                            <img src="{{ news.photo.url }}" alt=" " class="img-responsive"/>
                            <p>{{ news.description|translate_text|safe }}</p>
                            <p>{{ news.description_company|translate_text|safe }}</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-user-doctor" aria-hidden="true"></i> {{ news.author|translate_text }}
                                </a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 breaking-news-grid-right">
                    <h3>{{ "Свежие новости"|translate_text }}</h3>
                    <ul>
                        {% for main_litle_news in news_main|slice:":3" %}
                            <li>
                                <div class="breaking-news-grid-right-grids">
                                    <div class="breaking-news-grid-right-gridl news-grid-2 img img-fixed-size-three">
                                        {% if main_litle_news.logo_photo %}
                                            <img src="{{ main_litle_news.logo_photo.url }}" alt=" "
                                                 class="img-responsive"/>
                                        {% else %}
                                            <img src="{% static 'webapp/assets/img/gigi_centr_gazeta.jpg' %}" alt=" "
                                                 class="img-responsive"/>
                                        {% endif %}

                                    </div>
                                    <div class="breaking-news-grid-right-gridr">
                                        <h4>
                                            <a href="{% url 'news:single' pk=main_litle_news.id slug=main_litle_news.slug %}">
                                                {{ main_litle_news.title|translate_text|wordwrap:30|truncatechars_html:58 }}
                                            </a>
                                        </h4>
                                        <ul>
                                            <li>
                                                <a href="{% url 'news:single' pk=main_litle_news.id slug=main_litle_news.slug %}"><span
                                                        class="fa fa-user-doctor"
                                                        aria-hidden="true"></span> {{ main_litle_news.author|translate_text }}
                                                    <label>|</label> {{ main_litle_news.pub_date|translate_text|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="margin-padding-b"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="news">
                    <div class="news-grids">
                        <div class="col-md-4 breaking-news-grid-right">
                            <div class="news-grid-rght1">
                                <h3>{{ "Погода в Полоцке"|translate_text }}</h3>
                                <!-- Nav tabs -->
                                <div class="tab-content-weather-bg">
                                    <div class="tab-content-weather">
                                        <ul>
                                            <h4>{{ weather.month|translate_text }} {{ weather.day_of_month }}, {{ weather.day|translate_text }}</h4>
                                            <p><span
                                                    class="fa fa-wind"> {{ "Ветер: "|translate_text }} {{ weather.wind_direction }}-ный | {{ weather.wind_speed }} {{ "м/с" |translate_text }}</span>
                                            </p>
                                            <p><span class="fas fa-thermometer-half">
                                                {{ "Температура:"|translate_text }} {{ weather.temperature }}</span></p>
                                            <p><span class="fas fa-tachometer-alt">
                                               {{ "Давление:"|translate_text }} {{ weather.pressure }} {{ "гПа"|translate_text }}</span>
                                            </p>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% for photo_of_the_day in photo_day %}
                                <div class="news-grid-rght3">
                                    <img src="{{ photo_of_the_day.image.url }}" alt=" "
                                         class="img-responsive"/>
                                    <div class="story">
                                        <p>{{ photo_of_the_day.description|safe|translate_text }}</p>
                                        <br>
                                    <p><a href="{% url 'webapp:contacts' %}">{{ photo_of_the_day.name|translate_text|safe }}</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //single -->


    <!-- ======= breaking-news Section ======= -->
    <section id="featured-services" class="featured-services main-bg">
        <div class="container" data-aos="fade-up">
            <div class="breaking-news-grids-bottom">
                <div class="banner-bottom-grids">
                    {% for main_litle_news in centre_news %}
                        <div class="col-md-3 banner-bottom-grid-left">
                            <div class="br-bm-gd-lt-fon">
                                <a href="{{ main_litle_news.link }}"><img
                                        src="{{ main_litle_news.img.url }}" alt=" "
                                        class="img-responsive"/></a>
                                <div class="overlay">
                                    <div class="arrow-left"></div>
                                    <div class="rectangle"></div>
                                </div>
                                <div class="health-pos">
                                    <div class="health">
                                        <ul>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.name|translate_text|wordwrap:30|truncatechars_html:58 }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ main_litle_news.link }}">{{ main_litle_news.pub_date|translate_text|date:"d.m.Y" }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3>{{ main_litle_news.desc|translate_text|safe|wordwrap:10|truncatechars_html:58 }}</h3>
                                    <div class="dummy">
                                        <a href="{{ main_litle_news.link }}">
                                            <p>{{ main_litle_news.desc_hover|translate_text|safe }}</p></a>
                                    </div>
                                    <div class="com-heart-health">
                                        <ul>
                                            <li><a href="{{ main_litle_news.link }}"><span
                                                    class="fa fa-user-doctor"
                                                    aria-hidden="true"></span> {{ main_litle_news.author|translate_text }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Services Section -->
{% endblock %}